###############################################################################
# Package configuratio file                                                   #
#                                                                             #
# Creation Date : 16/05/2021                                                  #
# Author        : Arnaud Crampet          Support mail  : doraken@doraken.net  #
###############################################################################
####
# INFO

GLB_D_PRODUCTS_BERKELEYDB="${GLB_D_PRODUCTS}/berkeleydb"

################ Berkeley DB ( prerequesite of OPENLDAP ) ####
PKG_BerkeleyDb_EXTEND="tar.gz"
MSG_DISPLAY "Config" "1" "Package PKG_BerkeleyDb_EXTEND defined to  : [ ${PKG_BerkeleyDb_EXTEND} ] "

PKG_BerkeleyDb="db-18.1.40"
MSG_DISPLAY "Config" "1" "Package PKG_BerkeleyDb defined to  : [ ${PKG_BerkeleyDb} ] "

URL_BerkeleyDb="https://download.oracle.com/otn/berkeley-db"
MSG_DISPLAY "Config" "1" "URL_BerkeleyDb defined to  : [ ${URL_BerkeleyDb} ] "


#|# used for control sourcing keep it a last line 
ConfigState="OK"