###############################################################################
# Package configuratio file                                                   #
#                                                                             #
# Creation Date : 16/05/2021                                                  #
# Author        : Arnaud Crampet          Support mail  : doraken@doraken.net  #
###############################################################################
####
# INFO

GLB_D_PRODUCTS_CURL="${GLB_D_PRODUCTS}/curl"

################  CURL         ###########################
PKG_CURL_EXTEND=".tar.gz"
MSG_DISPLAY "Config" "1" "Package PKG_CURL_EXTEND defined to  : [ ${PKG_CURL_EXTEND} ] "

PKG_CURL="curl-7.76.1"
MSG_DISPLAY "Config" "1" "Package PKG_CURL defined to  : [ ${PKG_CURL} ] "

URL_CURL="https://github.com/curl/curl/releases/download/curl-7_76_1"
MSG_DISPLAY "Config" "1" "URL_CURL defined to  : [ ${URL_CURL} ] "


#|# used for control sourcing keep it a last line 
ConfigState="OK"