###############################################################################
# Package configuratio file                                                   #
#                                                                             #
# Creation Date : 16/05/2021                                                  #
# Author        : Arnaud Crampet          Support mail  : doraken@doraken.net  #
###############################################################################
####
# INFO

GLB_D_PRODUCTS_CVS="${GLB_D_PRODUCTS}/cvs"

#################### CVS  ##############################
PKG_CVS_EXTEND="tar.xz"
MSG_DISPLAY "Config" "1" "Package PKG_CVS_EXTEND defined to  : [ ${PKG_CVS_EXTEND} ] "

PKG_CVS="cvs-1.11.22"
MSG_DISPLAY "Config" "1" "Package PKG_CVS defined to  : [ ${PKG_CVS} ] "

URL_CVS="http://ftp.gnu.org/non-gnu/cvs/source/stable/1.11.22"
MSG_DISPLAY "Config" "1" "Url CVS defined to  : [ ${URL_CVS} ] "

#|# used for control sourcing keep it a last line 
ConfigState="OK"