###############################################################################
# Package configuratio file                                                   #
#                                                                             #
# Creation Date : 16/05/2021                                                  #
# Author        : Arnaud Crampet          Support mail  : doraken@doraken.net  #
###############################################################################
####
# INFO

GLB_D_PRODUCTS_FLEX="${GLB_D_PRODUCTS}/flex"

################## FLEX 2.5.33 #########################
PKG_FLEX_EXTEND="tar.gz"
MSG_DISPLAY "Config" "1" "Package PKG_FLEX_EXTEND defined to  : [ ${PKG_FLEX_EXTEND} ] "

PKG_FLEX="flex-2.6.4"
MSG_DISPLAY "Config" "1" "Package PKG_FLEX defined to  : [ ${PKG_FLEX} ] "

URL_FLEX="https://github.com/westes/flex/files/981163"
MSG_DISPLAY "Config" "1" "URL_FLEX defined to  : [ ${URL_FLEX} ] "


#|# used for control sourcing keep it a last line 
ConfigState="OK"