###############################################################################
# Package configuratio file                                                   #
#                                                                             #
# Creation Date : 16/05/2021                                                  #
# Author        : Arnaud Crampet          Support mail  : doraken@doraken.net  #
###############################################################################
####
# INFO

GLB_D_PRODUCTS_ZABBIX="${GLB_D_PRODUCTS}/zabbix"

################# Zabbix php #############################
PKG_ZABBIX_EXTEND=".tar.gz"
MSG_DISPLAY "Config" "1" "Package PKG_ZABBIX_EXTEND defined to  : [ ${PKG_ZABBIX_EXTEND} ] "

PKG_ZABBIX="zabbix-5.2.6"
MSG_DISPLAY "Config" "1" "Package ZABBIX defined to  : [ ${PKG_ZABBIX} ] "

URL_ZABBIX="https://cdn.zabbix.com/zabbix/sources/stable/5.2"
MSG_DISPLAY "Config" "1" "URL_ZABBIX defined to  : [ ${URL_ZABBIX} ] "


#|# used for control sourcing keep it a last line 
ConfigState="OK"