

COUNTRIES["France Central"]="fc"
COUNTRIES["Australia East"]="ae"
COUNTRIES["Brazil South"]="bs"
COUNTRIES["Canada Central"]="cc"
COUNTRIES["Central India"]="ci"
COUNTRIES["Central US"]="cu"
COUNTRIES["East Asia"]="ea"
COUNTRIES["East US"]="eu"
COUNTRIES["France Central"]="fc"
COUNTRIES["Germany West Central"]="gwc"
COUNTRIES["Israel Central"]="ic"
COUNTRIES["Italy North"]="in"
COUNTRIES["Japan East"]="je"
COUNTRIES["Korea Central"]="kc"
COUNTRIES["Mexico Central"]="mc"
COUNTRIES["North Europe"]="ne"
COUNTRIES["Norway East"]="ne"
COUNTRIES["Poland Central"]="pc"
COUNTRIES["Qatar Central"]="qc"
COUNTRIES["South Africa North"]="san"
COUNTRIES["South Central US"]="scu"
COUNTRIES["Southeast Asia"]="sea"
COUNTRIES["Spain Central"]="sc"
COUNTRIES["Sweden Central"]="sc"
COUNTRIES["Switzerland North"]="sn"
COUNTRIES["UAE North"]="uan"
COUNTRIES["UK South"]="uks"
COUNTRIES["West Europe"]="we"
COUNTRIES["West US 2"]="wu2"
COUNTRIES["West US 3"]="wu3"