#!/bin/bash
#############
# Author  :  Arnaud Crampet 
# Date    :  25/06/2024
# Determine the current directory of the script

# Global Variables
subscriptionId="[[DUMMY]]"
location="francecentral"
infra_organization="[[DUMMY]]"
application_organization="BanqueFrancaiseMutualise"


GIT_BASE_SSH_URL="git@ssh.${GIT_BASE_DNS}:v3"
GIT_BASE_ORGA_NAME="[[DUMMY]]"
GIT_GLB_PROJECT="azure-tenant"
GIT_HTTPS_URL="https://${GIT_BASE_ORGA_NAME}@${GIT_BASE_DNS}/${GIT_BASE_ORGA_NAME}/${GIT_GLB_PROJECT}/_git/"
organization=https://${GIT_BASE_DNS}/${GIT_BASE_ORGA_NAME} 

function show_actual_azure_config ()
{
printf "\n \n"
printf "#----------------------------------------------------------------------------------------------#\n"
printf "|------                              azure configuration :                              -------|\n"
printf "#----------------------------------------------------------------------------------------------#\n" 
printf "${GLB_PRINTCOL_4}" "default subscriptionIdset to" ": [" "${subscriptionId}" "]"
printf "${GLB_PRINTCOL_4}" "default location set to" ": [" "${location}" "]"
printf "${GLB_PRINTCOL_4}" "default infra organization  set to" ": [" "${infra_organization}" "]"
printf "${GLB_PRINTCOL_4}" "default applicaiton organization set to" ": [" "${application_organization}" "]"
printf "#----------------------------------------------------------------------------------------------#\n"
printf "\n \n"
}



CODE_APPLI=myapp
ENV=prd
LOCALISATION=fc




AZURE_OBJECTS["Active Directory"]="ad"
AZURE_OBJECTS["Anti-Virus, Anti-Spam"]="av"
AZURE_OBJECTS["Application Security Group"]="as"
AZURE_OBJECTS["Application Server"]="ap"
AZURE_OBJECTS["Archivage, archive solution"]="ar"
AZURE_OBJECTS["Azure Application Gateway"]="ag"
AZURE_OBJECTS["Backup"]="bk"
AZURE_OBJECTS["Batch server, ETL"]="bt"
AZURE_OBJECTS["Connection"]="cn"
AZURE_OBJECTS["DB Server"]="db"
AZURE_OBJECTS["Disk"]="ok"
AZURE_OBJECTS["External Load Balancer"]="el"
AZURE_OBJECTS["ExpressRoute Circuit"]="er"
AZURE_OBJECTS["Filer, files server, NAS"]="fs"
AZURE_OBJECTS["Firewall service"]="fw"
AZURE_OBJECTS["FTP service, SFTP"]="ft"
AZURE_OBJECTS["Gateway"]="gw"
AZURE_OBJECTS["Image OS"]="io"
AZURE_OBJECTS["Internal Load Balancer"]="il"
AZURE_OBJECTS["Key Vault"]="kv"
AZURE_OBJECTS["License server"]="ls"
AZURE_OBJECTS["Load Balancer"]="lb"
AZURE_OBJECTS["Management Groups"]="mg"
AZURE_OBJECTS["Master"]="ma"
AZURE_OBJECTS["Monitoring server"]="ms"
AZURE_OBJECTS["Network Interface"]="ni"
AZURE_OBJECTS["Network Security Group"]="ns"
AZURE_OBJECTS["Network Security Group Rule"]="nr"
AZURE_OBJECTS["Orchestration"]="or"
AZURE_OBJECTS["Patching, Update, fixing"]="up"
AZURE_OBJECTS["Peering"]="pe"
AZURE_OBJECTS["Public IP Address"]="pi"
AZURE_OBJECTS["Proxy"]="pr"
AZURE_OBJECTS["RDP, PMAD, srv de rebond"]="rd"
AZURE_OBJECTS["Recovery Service Vault"]="rv"
AZURE_OBJECTS["Resource Group"]="rg"
AZURE_OBJECTS["Route Table"]="rt"
AZURE_OBJECTS["Scheduler server"]="sc"
AZURE_OBJECTS["Security for server, audit, compliance"]="ss"
AZURE_OBJECTS["SMTP"]="sm"
AZURE_OBJECTS["Storage"]="st"
AZURE_OBJECTS["Storage Account"]="sa"
AZURE_OBJECTS["Subnet"]="sn"
AZURE_OBJECTS["Traffic Manager Profile"]="tm"
AZURE_OBJECTS["Virtual Network"]="vn"
AZURE_OBJECTS["Web Server"]="ws"
AZURE_OBJECTS["Zone DNS interne"]="di"
AZURE_OBJECTS["Zone DNS public"]="dp"


CATEGORIES["Active Directory"]="se"
CATEGORIES["Anti-Virus, Anti-Spam"]="oa"
CATEGORIES["Application Security Group"]="se"
CATEGORIES["Application Server"]="oa"
CATEGORIES["Archivage, archive solution"]="oa"
CATEGORIES["Azure Application Gateway"]="ne"
CATEGORIES["Backup"]="st"
CATEGORIES["Batch server, ETL"]="oa"
CATEGORIES["Connection"]="ne"
CATEGORIES["DB Server"]="oa"
CATEGORIES["Disk"]="st"
CATEGORIES["External Load Balancer"]="ne"
CATEGORIES["ExpressRoute Circuit"]="ne"
CATEGORIES["Filer, files server, NAS"]="st"
CATEGORIES["Firewall service"]="ne"
CATEGORIES["FTP service, SFTP"]="oa"
CATEGORIES["Gateway"]="ne"
CATEGORIES["Image OS"]="st"
CATEGORIES["Internal Load Balancer"]="ne"
CATEGORIES["Key Vault"]="st"
CATEGORIES["License server"]="oa"
CATEGORIES["Load Balancer"]="ne"
CATEGORIES["Management Groups"]="og"
CATEGORIES["Master"]="oa"
CATEGORIES["Monitoring server"]="oa"
CATEGORIES["Network Interface"]="ne"
CATEGORIES["Network Security Group"]="se"
CATEGORIES["Network Security Group Rule"]="se"
CATEGORIES["Orchestration"]="oa"
CATEGORIES["Patching, Update, fixing"]="se"
CATEGORIES["Peering"]="ne"
CATEGORIES["Public IP Address"]="ne"
CATEGORIES["Proxy"]="ne"
CATEGORIES["RDP, PMAD, srv de rebond"]="se"
CATEGORIES["Recovery Service Vault"]="st"
CATEGORIES["Resource Group"]="og"
CATEGORIES["Route Table"]="ne"
CATEGORIES["Scheduler server"]="oa"
CATEGORIES["Security for server, audit, compliance"]="se"
CATEGORIES["SMTP"]="oa"
CATEGORIES["Storage"]="st"
CATEGORIES["Storage Account"]="st"
CATEGORIES["Subnet"]="ne"
CATEGORIES["Traffic Manager Profile"]="ne"
CATEGORIES["Virtual Network"]="ne"
CATEGORIES["Web Server"]="oa"
CATEGORIES["Zone DNS interne"]="ne"
CATEGORIES["Zone DNS public"]="ne"


ENVIRONMENTS_AZ["development environment"]="dev"
ENVIRONMENTS_AZ["qualification environment"]="qua"
ENVIRONMENTS_AZ["integration environment"]="int"
ENVIRONMENTS_AZ["testing environment"]="rec"
ENVIRONMENTS_AZ["pre-production"]="ppr"
ENVIRONMENTS_AZ["production environment"]="prd"
ENVIRONMENTS_AZ["training environment"]="for"
ENVIRONMENTS_AZ["maintenance environment"]="mnt"



export ENVIRONMENTS_AZ

show_actual_azure_config


# Sourcing control variable 
ConfigState="OK"